server {
    listen 80;
    listen 443 ssl;
    server_name  {{ laravel_server_seamless }};

    ssl_certificate     /etc/ssl/laravel/{{ laravel_ssl_cert_seamless }};
    ssl_certificate_key /etc/ssl/laravel/{{ laravel_ssl_key_seamless }};

    location / {
        proxy_pass http://{{ hostvars[groups['laravel_seamless_new'][0]]['ansible_default_ipv4']['address'] }}:{{ laravel_port_seamless }}/; # ganti ke private IP laravel
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
